*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
    -webit-user-select: none;
    -moz-user-select: none;
}

body {
    background-color: white;
    margin: 2rem 10% 0 10%;
    font-family: sans-serif;
}

header {
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

header .subtitle {
    font-style: italic;
    color: gray;
}

footer {
    margin-top: 5rem;
    padding: 1rem;
    text-align: center;
}

section .preset-container {
    margin: 2rem;
}

.preset-button-container {
    display: flex;
    flex-direction: column;
}

.preset-container .preset-row {
    flex: 1;
    padding: 0.5rem 0;
}

.preset-container .preset-row button {
    border-radius: 5px;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
}

.preset-container .preset-row button.preset-btn-1 {
    background-color: #3380fb;
    color: #ffffff;
}

.preset-container .preset-row button.preset-btn-2 {
    background-color: #ffbc84;
    color: #000000;
}

.preset-container .preset-row button.preset-btn-3 {
    background-color: #6be655;
    color: #000000;
}

#layout {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

#sanitation-section {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 60%;
    margin: 3rem 0 0 0;
    padding: 0;
}

#sanitation-chart {
    height: 90%;

    display: flex;
    align-items: center;
}

.global-y-label {
    width: 2%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666;
}

#sanitation-views {
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
}

#sanitation-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #a1a1aa;
    padding: 20px;
    box-sizing: border-box;
}

#sanitation-views div[id^="view-"] {
    width: 33%;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: visible;
}

#butterfly-chart {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin: 3rem 0 0 0;
}

#butterfly-chart-svg {
    text-align: center;
}

#butterfly-chart-svg text.label {
    cursor: pointer;
}

.butterfly-bars-text-overlay {
    fill: white;
    font-weight: bold;
    pointer-events: none;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.slidecontainer {
    text-align: center;
}

.slidecontainer input {
    width: 50%;
}

#sanitation-legend {
    width: 25%;
    height: 100%;
    font-size: 14px;
}

.sanitation-zoom-controls button {
    background-color: #5594d1;
    border-radius: 5px;
    border: none;
    padding: 3px 7px;
    color: white;
    cursor: pointer;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.color-box {
    width: 14px;
    height: 14px;
    border-radius: 3px;
    display: inline-block;
}

#gdp-mortality-scatterplot {
    margin: 3rem 0 0 0;
    padding: 0;
    height: 60%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 2fr 8fr;
}

#scatter-section {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    padding: 0;
}

.section-intro {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

#scatterplot-chart {
    grid-column: 1;
    grid-row: 2;
    position: relative;
}

#scatterplot-chart svg {
    width: 100%;
}

#scatterplot-chart .chart-title {
    font-weight: bold;
}

#line-container {
    stroke-width: 2px;
}

.controls {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 8px 0 8px 0;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.controls label, #sanitation-legend label {
    font-size: 14px;
    font-weight: 600;
    color: #334155;
}

.buttons {
    height: 30px;
    display: flex;
    flex-direction: row;
}

#country-select {
    width: 100px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    background-color: #ffffff;
    color: #0f172a;
    outline: none;
    cursor: pointer;
}

#clear-btn {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    background-color: #ffffff;
    color: #64748b;
    cursor: pointer;
    transition: all 0.2s;
}

#clear-btn:hover {
    background-color: #f8fafc;
    color: #0f172a;
    border-color: #94a3b8;
}

#start-journey {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    background-color: #ffffff;
    color: #64748b;
    cursor: pointer;
    transition: all 0.2s;
}

#start-journey:hover {
    background-color: #f8fafc;
    color: #0f172a;
    border-color: #94a3b8;
}

#show-next-button {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    background-color: #ffffff;
    color: #64748b;
    cursor: pointer;
    transition: all 0.2s;
}

#show-next-button:hover {
    background-color: #f8fafc;
    color: #0f172a;
    border-color: #94a3b8;
}

#legend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.country-tag {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
}

.remove-btn {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}

#tooltip {
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: auto;
    font-family: sans-serif;
    font-size: 13px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    line-height: 1.4;
}

#tooltip.hidden {
    display: none;
}

.trend-line:hover {
    stroke-width: 4px;
    cursor: pointer;
    transition: stroke-width 0.1s ease;
}


.tooltip-divider {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.08); /* Sehr dezentes Grau */
    margin: 12px 0 10px 0;
}

#view-sanitation-btn {
    display: inline-block;
    width: 100%;
    background-color: #f4f4f5;
    color: #666;
    border: 1px solid #e4e4e7;
    padding: 6px 6px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
}

#view-sanitation-btn:hover {
    background-color: #7b7b7b;
    border-color: #d4d4d8;
    color: #ccc;
    transition: all 0.2s ease;
}

.hidden {
    display: none !important;
}

